In [1]:
# List of High schools

high_schools = ["Hernandez High school", "Figueroa High School", "Wilson High School", "Wright High School"]

In [3]:
for school in high_schools:
    print(school)

Hernandez High school
Figueroa High School
Wilson High School
Wright High School

In [5]:
high_school_types = [{"High School":"Griffin", "Type":"District"}, 
                    {"High School":"Figueroa", "Type":"District"},
                    {"High School":"Wilson", "Type":"Charter"},
                    {"High School":"Wright", "Type":"Charter"}]

In [5]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [12]:
import pandas as pd

In [13]:
school_series = pd.Series(high_schools)
school_series

NameError: name 'high_schools' is not defined

In [14]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [15]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [16]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [19]:
# Initialize a new DataFrame
import pandas as pd
schools_df = pd.DataFrame()

In [21]:
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school
schools_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [23]:
high_school_dicts = {'School ID':school_id, 'School Name':school_name, 'School Type':type_of_school}
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [24]:
school_df.columns

Index(['School ID', 'School Name', 'School Type'], dtype='object')

In [25]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [39]:
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", 
              "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School",
              "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", 
              "Thomas High School"]
school_type = ["District","District", "Charter", "District","Charter", "Charter","Charter", "District", "Charter", "Charter",
              "Charter", "District", "District", "District", "Charter"]

In [40]:
import pandas as pd
schools_df = pd.DataFrame()

In [41]:
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = school_type
schools_df

    School ID            School Name School Type
0           0      Huang High School    District
1           1   Figueroa High School    District
2           2    Shelton High School     Charter
3           3  Hernandez High School    District
4           4    Griffin High School     Charter
5           5     Wilson High School     Charter
6           6    Cabrera High School     Charter
7           7     Bailey High School    District
8           8     Holden High School     Charter
9           9       Pena High School     Charter
10         10     Wright High School     Charter
11         11  Rodriguez High School    District
12         12    Johnson High School    District
13         13       Ford High School    District
14         14     Thomas High School     Charter