In [1]:
import pandas as pd

In [2]:
student_data_to_load = "Resources/students_complete.csv"

student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
student_names = student_data_df["student_name"].tolist()

In [5]:
for name in student_names:
    (name.split(), len(name.split()))

In [6]:
students_to_fix = []

In [7]:
for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)
len(students_to_fix)

1530

In [8]:
prefixes = []

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

In [9]:
suffixes = []

for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])

In [10]:
set(prefixes)

{'Adam',
 'Amy',
 'Anna',
 'Anne',
 'Carl',
 'Chad',
 'Cody',
 'Cory',
 'Dale',
 'Dana',
 'Dawn',
 'Dr.',
 'Emma',
 'Eric',
 'Erik',
 'Erin',
 'Gail',
 'Gary',
 'Gina',
 'Greg',
 'Ian',
 'Jill',
 'Jodi',
 'Joe',
 'John',
 'Jon',
 'Jose',
 'Judy',
 'Kara',
 'Kari',
 'Kim',
 'Kyle',
 'Leah',
 'Lisa',
 'Lori',
 'Luke',
 'Lynn',
 'Marc',
 'Mark',
 'Mary',
 'Mike',
 'Miss',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Noah',
 'Omar',
 'Paul',
 'Ruth',
 'Ryan',
 'Sara',
 'Sean',
 'Seth',
 'Tara',
 'Tina',
 'Todd',
 'Toni',
 'Tony',
 'Troy'}

In [11]:
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [27]:
prefixes_suffixes = ["Dr. ","Mr. ","Ms.","Mrs. ", "Miss "," MD"," DDS"," DVM"," PhD"]

In [28]:
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\Artsy\anaconda3.1\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [29]:
student_names = student_data_df["student_name"].tolist()

In [30]:
students_fixed = []

for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)
len(students_fixed)

151

In [31]:
students_fixed

['Joseph Morales III',
 'Xavier Bell II',
 'David Miller Jr.',
 'Reginald Garcia IV',
 'Kevin Brown IV',
 'William Washington Jr.',
 'Juan Bryant II',
 'Kenneth Paul Jr.',
 'Scott Rivers III',
 'Mark Myers Jr.',
 'Michael Norton Jr.',
 'Sean Pena Jr.',
 'Cody Mueller Jr.',
 'Mathew White Jr.',
 'Jason Daugherty Jr.',
 'Leonard Webster II',
 'Michael Stein Jr.',
 'Ryan Phillips Jr.',
 'Allen Snyder Jr.',
 'Calvin Williams Jr.',
 'Ronald Torres Jr.',
 'Gabriel Smith III',
 'Brian Pitts Jr.',
 'Bruce Thompson II',
 'Jeremy Sanders II',
 'Austin Johnson II',
 'Bryan Conway Jr.',
 'Ronald Moore II',
 'Robert Garrison IV',
 'William Gonzalez Jr.',
 'Brian Matthews Jr.',
 'Eric Richards Jr.',
 'Kenneth Munoz Jr.',
 'Jon Delgado Jr.',
 'Andrew English Jr.',
 'Raymond Cox Jr.',
 'Jeffrey Mcclain Jr.',
 'Brian Poole V',
 'Jeffrey Kim II',
 'Matthew Alexander Jr.',
 'Kevin Reynolds Jr.',
 'Jacob Skinner Jr.',
 'Dennis Gibson Jr.',
 'Jimmy Shea Jr.',
 'James Reed Jr.',
 'Jeffery Baker Jr.',
 'Derrick Hughes III',
 'Joshua Rivera Jr.',
 'Timothy Guzman Jr.',
 'Lonnie Allen II',
 'Tyrone Clark III',
 'Jeffrey Nelson Jr.',
 'Michael Mann II',
 'David Johnson Jr.',
 'Timothy Chavez Jr.',
 'Brian Powell III',
 'Lance Rangel Jr.',
 'Noah Herrera Jr.',
 'Eric Johnson Jr.',
 'Victor Chavez II',
 'Richard Ellis Jr.',
 'Charles Goodman Jr.',
 'Michael Singh Jr.',
 'Jonathan Smith Jr.',
 'Allen Morris Jr.',
 'Aaron Solis Jr.',
 'Daniel Mckinney Jr.',
 'Christopher Petty Jr.',
 'Michael Garcia Jr.',
 'Charles Short II',
 'Derek Barker Jr.',
 'Zachary Garrett III',
 'Thomas Harrison Jr.',
 'Andrew Mitchell V',
 'Aaron Davis Jr.',
 'Brian Bailey Jr.',
 'Jeremiah Morris IV',
 'David Morales Jr.',
 'Larry Chandler Jr.',
 'James Clark II',
 'Cameron Roman Jr.',
 'Christopher Smith Jr.',
 'Todd Grant Jr.',
 'Kenneth Avila Jr.',
 'Jason Lopez Jr.',
 'Dwayne Mathis Jr.',
 'Colton Collins II',
 'Chris Palmer III',
 'Tyler Randall Jr.',
 'Joseph Morgan IV',
 'Carlos Adkins Jr.',
 'Mark Livingston Jr.',
 'Michael Williams III',
 'Eric Evans III',
 'Christopher Thornton Jr.',
 'Adam Hayes III',
 'Michael Moore Jr.',
 'Joseph Hudson II',
 'William Brooks Jr.',
 'Daniel Welch II',
 'Roger Horton Jr.',
 'Cory Marshall II',
 'Joshua Thompson Jr.',
 'Jon Flores II',
 'Philip Jones Jr.',
 'Greg Joyce Jr.',
 'Thomas Frye Jr.',
 'Joseph Marquez Jr.',
 'Robert Smith Jr.',
 'David Beck Jr.',
 'Ryan Gomez II',
 'Erik Smith Jr.',
 'Omar Thompson Jr.',
 'Leonard Roberts Jr.',
 'Duane Li Jr.',
 'Richard Lucero Jr.',
 'Seth Medina Jr.',
 'Anthony Carlson Jr.',
 'Edward Dudley II',
 'Matthew Lewis Jr.',
 'Christopher Bowers Jr.',
 'Timothy Hughes Jr.',
 'Kevin Hoover IV',
 'David Butler Jr.',
 'Michael Wilson Jr.',
 'George Hess Jr.',
 'Kevin Briggs Jr.',
 'Joseph Matthews III',
 'Dylan Bailey Jr.',
 'Anthony Woods Jr.',
 'Michael Harris Jr.',
 'Daniel Diaz Jr.',
 'Taylor Thompson Jr.',
 'Daniel Robinson Jr.',
 'Ronald Phelps Jr.',
 'Jonathan Reid II',
 'Joshua Smith Jr.',
 'Joseph Herrera III',
 'Tony Robertson II',
 'James Fowler III',
 'William Wright II',
 'Thomas Carrillo II',
 'Matthew Bennett Jr.',
 'Mark Lucas IV',
 'Keith Newman Jr.',
 'Matthew Mitchell III',
 'Colin Schultz II',
 'Terry Scott Jr.',
 'Jason Patel Jr.',
 'Steven Lewis Jr.',
 'Lucas Williams Jr.']